extends layouts/main-layout.pug

block content
    .donateContent
        img(src="/images/thank.gif", alt="Pikachu thank you gif")
        br
        span If you love ReplyTube and want to continue using this platform in the future, we would really appreciate it if you could support us. Doing so will help us out a lot as we find ways to make this project better for everyone who uses it.
        br
        br
        span Use the link below to help support this project. Thank you!
        br
        br
        a(href="https://www.youtube.com/watch?v=dQw4w9WgXcQ") Donate 